<div class="rowone">
<% if @product_reviews.empty? %>
  <h2>Be the first to Review</h2>
<% else %>
<h2>Reviews for <%= @product.name %></h2>
<% end %>
<%= render 'products/reviews' %>
  <% @product_reviews.each do |review| %>
     <div class="review-wrapper">
        <p>
          <b>Body:</b>
          <%= review.body %>
        </p>

        <p>
          <b>Rating:</b>
          <%= review.rating %>
        </p>
      </div>
<% end %>
</div>
       

